name: Testout the package

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        default: "feature/dockerization"


jobs:   
  run_container:
    if: ${{ github.ref_name == 'feature/dockerization'}}
    runs-on: ubuntu-latest
    steps:
    # - name: Trigger docker build
    #   id: trigger-docker
    #   uses: peter-evans/workflow-dispatch@v1
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN}}
    #     repository: alexwolfg/pack
    #     workflow: docker-image.yml
    #     ref: ${{ github.event.inputs.environment }}
   

    # - name: Wait a bit for the build workflow to finish
    #   run: sleep 15

    - name: Download the image
      id: downloading-image
      uses: dawidd6/action-download-artifact@v3
      with:
        workflow: docker-image.yml
        name: docker-image
        path: .
        branch: feature/dockerization

    - name: Load image into Docker
      run: |
          docker load -i multi.tar
          docker images

    - name: Run container image
      run: |
        echo "Running image multi.tar from previous step"
        docker run -it --rm multi:latest
        multi -m 2 -p 4 -o 8


      
          
      
    
      
