name: Started with workflows

on:
  workflow_dispatch:

jobs:
  first_job:
    runs-on: ubuntu-latest
    env:
      MY_ENV: "Wolf"
    steps:
      - name: Say smth
        run: echo "Hi there"
      - name: run a multiple script
        run: |
          echo "$MY_ENV"
          echo "$GITHUB_ACTOR"
      
