name: Started with workflows

on:
  workflow_dispatch:

jobs:
  first_job:
    runs-on: ubuntu-latest
    env:
      MY_ENV: "Wolf"
    steps:
      - name: Say smth
        run: echo "Hi there"
      - name: run a multiple script
        run: |
          echo "$MY_ENV"
          echo "$GITHUB_ACTOR"
  joke:
    runs-on: ubuntu-latest
    steps:
      - name: ask AI
        id: ai-response
        uses: actions/ai-inference@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          prompt: Give me a programming joke
          
      - name: Display the AI Response
        run: | 
          echo "AI Response" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "${{ steps.ai-response.outputs.response }}" >> $GITHUB_STEP_SUMMARY
          
      
    
      
