name: Testout the package

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        default: "feature/dockerization"


jobs:   
  run_container:
    runs-on: ubuntu-latest
    steps:
    - name: Download the image
      id: downloading-image
      uses: alexwolfg/action-download-artifact@v3
      with:
        workflow: docker-image.yml
        name: docker-image
        path: .

    - name: Load image into Docker
      run: |
          docker load -i multi.tar
          docker images

    - name: Run container image
      run: |
        echo "Running image multi.tar from previous step"
        docker run -rm multi:$(date +%s)
        multi -m 2 -p 4 -o 8


      
          
      
    
      
